@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}



body {
  width: 100%;
  overflow-x: hidden;
}


@font-face {
  font-family: "playfair-regular";
  src: url(../fonts/playfair_display/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "keiraseriffree-regular";
  src: url(../fonts/keiraseriffree/KeiraseriffreeRegular.otf);
}

@font-face {
  font-family: "calisto-mt";
  src: url(../fonts/calisto-mt/calisto.TTF);
}

/* universal css */
h1 {
  font-size: 53px;
}

h4 {
  font-size: 27px;
}

h6 {
  font-size: 18px;
}

h1,
h3,
h4,
h6 {
  font-family: "playfair-regular";
  color: #FFFFFF;
}

p {
  font-family: "playfair-regular";
}

a.btn {
  padding: 15px 35px;
  border-radius: 0px;
}

a {
  font-family: "playfair-regular";
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #000;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #0068B4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Mobile Header */
.mobile-header {
  width: 25%;
  height: 100%;
  position: fixed;
  background: #000000;
  top: 0;
  z-index: 9;
  left: 0;
  padding: 30px 10px 0px 10px;
  transition: 0.7s;
  transform: translateX(-102%);
  box-shadow: 0px 0px 7px #ddd;
}
.mobile-nav{
  padding-left: 40px !important;
}
li.nav-link a {
  color: #FFFFFF;
}
.for-search-in-nav{
  width: 74%;
  background-color: #333232;
  margin-top: 40px;
  padding: 8px 0px;
}
.for-search-in-nav input{
  background-color: transparent;
  border: 0px;
  outline: none;
  padding-left: 15px;
  width: 90%;
}

#header .mobile-header.show {
  transform: translateX(0%);
}

#header .mobile-header ul.mobile-nav {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

#header .mobile-header .cancel {
  background: #000000;
  width: 35px;
  text-align: center;
  height: 34px;
  line-height: 35px;
  margin: 0px 20px 20px auto;
  color: #fff;
}

#header .mobile-header ul.mobile-nav li.nav-item {
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid #dddddd4a;
}

#header .mobile-header ul.mobile-nav li.nav-item a {
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
}

#header .canvas-icon i {
  font-size: 24px;
  /* background:; */
  padding: 5px 7px;
  color: #fff;
  display: unset;
}


@media (max-width: 991px) {
  #header .nav {
    display: none;
  }

  .responsive-contact-btn {
    display: initial;
  }

  .navbar-items {
    display: none !important;
  }

  .all-normal-navs {
    justify-content: space-between !important;
  }

  #header .second-col-input {
    display: none;
  }

  #header button.navbar-toggler {
    display: none;
  }

  #header .canvas-icon i {
    display: unset;
  }
}

@media (max-width: 575px) {
  #header .mobile-header {
    width: 65%;
  }
}

@media (max-width: 480px) {
  #header .mobile-header {
    width: 55%;
  }
}

/* Mobile Header */
/* 
@font-face {
  font-family: "Montserrat-Medium";
  src: url(../fonts/static/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-regular";
  src: url(../fonts/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-semibold";
  src: url(../fonts/static/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Barlow-semibold";
  src: url(../fonts/barlow/Barlow-SemiBold.ttf);
}

@font-face {
  font-family: "popins-medium";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins-Regular.ttf);
}*/




* {
  font-family: "Montserrat-Medium";
}

body {
  margin: 0px;
  padding: 0px;
}

.banner-homepage {
  background-image: url(../img/home-banner.png);
  width: 100%;
  height: 896px;
  background-size: cover;
  padding-top: 50px;
}

.logo-in-top {
  display: flex;
  justify-content: center;
}

.logo-in-top h1 {
  font-family: "keiraseriffree-regular";
  font-size: 45px;
  color: #FFFFFF;
  margin-bottom: 0px !important;
}

.logo-in-top h6 {
  font-family: "playfair-regular";
  font-size: 13.5px;
  color: #FFFFFF;
}

.banner-text-section {
  text-align: center;
  height: 680px;
  display: flex;
  align-items: center;
}

.banner-text-start {
  text-align: center;
  width: 100%;
}

.banner-text-start p {
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.6;
}

.banner-text-start a.btn {
  font-size: 9px;
  color: #FFFFFF;
  background-color: #A97E45;
  margin-top: 35px;
}

.chat-now-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.chat-now-btn button {
  border: 0px;
  background-color: transparent;
}

.main-header-icon {
  position: absolute;
  top: 25px;
  left: 25px;
}

/* catogaries start */

.categories-in-home {
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 80px;
}

.text-in-catogaires h6 {
  color: #A97E45;
}

.category-name h4 {
  color: #FFFFFF;
  font-size: 23px;
  text-decoration: underline;
}

.text-in-catogaires p {
  color: #FFFFFF;
}

.all-categories {
  margin-top: 80px;
  padding-bottom: 130px;
}

.first-category {
  padding-top: 90px;
}

.single-category {
  height: 100%;
}

.cat-view-more {
  font-size: 14.5px;
  color: #FFFFFF;
  position: absolute;
  bottom: -45px;
}

/* our process start */
.our-process-start {
  padding-top: 50px;
  padding-bottom: 67px;
}
.our-process-text-top {
  text-align: center;
}

.our-process-text-top h1 {
  color: #000000;
}

.our-process-text-top p {
  color: #000000;
  opacity: 0.6;
}

/* Process- boxes */
.single-process {
  padding-left: 6.5%;
}

.single-process-box {
  padding: 30px 28px 30px 48px;
  width: 79%;
  border: 1px solid #70707024;
  display: flex;
}

.text-in-process-box{
  padding-left: 25px;
}
.text-in-process-box h6 {
  font-family: "calisto-mt";
  color: #A97E45;
  font-size: 19px;
  font-style: italic;
}

.text-in-process-box h1,
.text-in-process-box h4 {
  color: #000000;
}
.text-in-process-box p{
  font-size: 14px;
  opacity: 0.6;
}
.procces-with-logo{
  display: flex;
}
.for-read-more-in-process{
  margin-top: 35px;
}
.for-read-more-in-process a{
  color: #A97E45;
  font-size: 14.5px;
}

/* Process End Here  */

/*  every one liking start */

.everyone-is-liking-section{
  width: 100%;
  /* height: 500px; */
  padding: 120px 0px;
  background-image: url(../img/everyoneliking.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.everyoneliking-right-taste{
  height: 100%;
  display: flex;
  align-items: center;
}
.yellowish-heading{
  color: #C89552;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 0px;
  font-family: "playfair-regular";
}
/* .everyoneliking-right-taste h6{
  
} */
.everyoneliking-right-taste p{
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 14px;
}

.inside-accordian-box {
  background-color: #FFFFFF;
  padding: 86px 50px 89px 30px;
}
.top-text-in-accrodian-box h1{
  color: #000000;
}

/* bootstrap accordian css */

.card-header:first-child{
  border-radius: 0px;
}
.card-header{
  padding: 12px;
}
.acoordian-in-box .accordion .card{
  border: 0px;
  border-bottom: 1px solid #707070 ;
  border-radius: 0px;

}
.acoordian-in-box .accordion .card .card-header {
  padding: 25px 0px;
  margin-bottom: 0; 
  background-color: transparent;
  /* border-bottom: 1px solid rgba(0,0,0,.125); */
  border: 0px !important;
}
.card-header .btn.collapsed::after {
  content: "";
  background-image: url(../img/plus.png);
  height: 25px;
  width: 12px;
}
.card-header .btn::after {
  content: "";
  background-image: url(../img/minus.png);
  height: 25px;
  width: 10px;
}
.card-header .btn{
  padding: 0px;
  display: flex;
  justify-content: space-between;
}



/* Wine for everyone start */
.wine-for-every-one{
  padding: 70px 0px;
}

.single-wine-for-everyone{
  width: 100%;
}
.for_texta_at_top h1{
  color: #000000;
}
.for_texta_at_top p{
  opacity: 0.6;
  font-size: 15px;
  color: #08090B;
}
.for_texta_at_top{
  padding-left: 35px;
  padding-right: 25px;
}
.for_texta_at_top a{
  color: #000000;
  font-size: 15px;
  text-decoration: none;
}

.wine-for-everyoe-start{
  margin-top: 120px;
}

@media screen and (max-width: 768px) {
  .categpry-picture img{
    width: 100%;
  }
  .procces-with-logo{
    display: unset;
  }
  .single-process-box{
    width: 100%;
  }
  .single-category.d-flex.align-items-start{
    display: unset !important;
    margin-top: 50px !important;
  }
  .single-category.d-flex.align-items-end{
    margin-top: 50px !important;
    display: unset !important;
  }
  .single-category.d-flex.align-items-start div{
    width: 100%;
  }
  .chat-now-btn {
    position: absolute;
    bottom: -23px;
    right: 29px;
    width: 106px;
}
}